/*Style for the nav bar*/
.nav_container { /*flexbox for nav*/
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}
.navbar {
    display:flex;
    position:relative;
    z-index: 999;
}
.navbar ul {
    list-style-type: none;
    margin:0;
    padding:0;
    background: black;
}
.navbar li {
    display: inline-block;
}
.navbar li a {
    color:white;
    text-decoration: none;
    display:block;
    padding: 10px 20px;
}
.navbar ul ul { /*creates dropdown menu*/
    position:absolute;
    top : 100%;
    display: none;
}
.navbar ul ul li {
    display:block;
}
.navbar li:hover ul {
    display:block;
}
.navbar ul ul li a:hover {
    background-color: black;
}
.nav_container .shoppingcart { /*formats where the shopping cart button is*/
    display:flex;
    align-items: center;
    justify-content: flex-end;
    margin-right:1.5vw;
    padding:0;
}
.cart-img { /*shopping cart img button*/
    width:30px;
    height:30px;
    background-image:url(shopping-cart.jpg);
    background-size: cover;
    background-position: center;
    background-color: black;
    border: none;
    cursor:pointer;
}
